@import "normalize.scss";

.fail{color: #d9534f}
.success{color: #5cb85c}
.neutral{color: #f0ad4e}
* {box-sizing: border-box;}

h2 {
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-left: 7px;
  font-size: 1.2em;
  margin-bottom: 3px;
  font-variant: small-caps;
  &::before{
    content: "// "
  }
}

body, h1, h2, h3, h4, h5 {font-family: "Open sans",sans-serif;}

html {height: 100%;}
body {
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
}
header {
  height: 5.6em;
  width: 100%;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 -8px 5px -6px #656565 inset;
  color: #fff;
  background-image: url(bg.jpg);
  background-size: 100%;
  >img {
    display: inline;
    height: 3.1em;
    position: absolute;
    right: 16px;
    top: 1.5em;
  }
  >h1 {
    color: #fff;
    font-size: 2.8em;
    font-variant: small-caps;
    font-weight: 100;
    margin: 0.4em 12px 0 0;
    display: inline-block;
  }
  style {color: #ccc}
}
.github{
  position: absolute; top: 0; right: 0; border: 0;
}
main {}
#infos {
  svg {
    width: 2.6em;
    height: 1.2em;
  }
  span{
    font-size: 1em;
    display: block;
    font-variant: small-caps;
    text-align: center;
  }
  #countdown{
    padding-right: 15px;
    >div {width: 4em;font-size: 1em !important;}
    >div>div{font-size: 3em !important;}
  }
  >div {
    border-left: 1px solid #ccc;
    padding:7px 12px 0 10px;
    display: inline-block;
    float: left;
    >div {
      display: inline-block;
      text-align: center;
      font-size: 2em;
      div:last-of-type{
        height: 1em;
        font-size: 2em;
        line-height: 1;
      }
    }
  }

}

p {
  font-size: 1.3em;
  font-variant: small-caps;
  margin: 0;
  padding: 5px 7px;
  text-align: center;
}
#previous{
  clear: both;
  padding-top: 14px;
  h2 {display: inline}
  b {
    color: rgb(160, 160, 160);
    font-style: oblique;
    font-size: 1em;
    margin-left: 8px;
  }
  #reverse{
    cursor: pointer;
    font-variant: small-caps;
    position: absolute;
    right: 20px;
    text-decoration: underline;
  }
  a {color: #a0a0a0}

}

#flights {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  min-height: 25em;
  overflow-x: scroll;
  border-top: 2px solid #a7a9ac;
  padding-top: 5px;
  background-color: #fff;
}

.flight {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  min-width: 5.6em;
  .destination {
    align-content: stretch;
    justify-content: center;
    display: flex;
    flex: 1 0 0;
    margin: 5px 0;
    min-height: 5em;
    svg{
      width:5.6em;
      height:2.8em;
    }
  }
  .name, .outcome {
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name{
    padding-top: 10px;
    height: 2.8em;
    margin-bottom: 5px;
  }
  .outcome{
    padding-bottom: 10px;
    height: 4em;
    >span{padding: 2px 4px;}
  }
  .landing>span{
    background-color: #efefef;
    border: 1px solid;
    border-radius: 10px;
    min-width: 4.4em;
  }
}



.failure, .LEO, .Polar, .ISS, .MEO {align-items: flex-end;}
.GTO, .GEO {align-items: center;}
.SUN-EARTH-L1 {align-items: flex-start;}

.rocket {
  padding-top: 5px;
  border-top: 1px solid #ccc;
  align-items: flex-end;
  align-content: stretch;
  justify-content: center;
  display: flex;
  flex: 1 0 0;
  svg{
    width: 3.1em
  }
}

.falcon1 {border-bottom: 5px solid #b4b4b4;}
.falcon910 {border-bottom: 5px solid #90cc43;}
.falcon911 {border-bottom: 5px solid #ccaa55;}
.falcon912 {border-bottom: 5px solid #5571cc;}

#labels > span {
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin-left: 23px;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: left top 0;
  width: 10px;
  margin-top: 18px;
}

footer {
  font-size: 0.8em;
  font-weight: 100;
  padding: 6px;
  a {color: #333;}
}

@media (max-height: 770px) {
  #labels {display: none;}
  .flight .destination {
    align-items: flex-end;
    align-content: stretch;
    justify-content: center;
    margin-bottom: 5px;
    min-height: inherit;
  }
}

@media (max-width: 850px) {
  header > img, .github {display: none;}
}
@media (max-width: 400px) {
  body{font-size: 12px;}
  #previous>b{display: block}
}
@media (max-width: 1100px) {
  header > span {display: none;}
}
