// scss-lint:disable PropertySortOrder, EmptyLineBetweenBlocks
@import "normalize.scss";

$light: #fafafa;
$dark: rgba(48, 62, 73, .6);
$border: #a8a8aa;
$bg: #011b2d;
$dark-text: #414141;

.fail{color: #d9534f}
.success{color: #5cb85c}
.neutral{color: #f0ad4e}
* {box-sizing: border-box;}

h2 {
  font-weight: 600;
  color: #fff;
  font-size: 1.2em;
  margin: 2px 7px 0;
  font-variant: small-caps;
  &::before{
    content: "// "
  }
}

body, h1, h2, h3, h4, h5 {font-family: "Open sans",sans-serif;}

html {height: 100%;}
body {
  background: $bg url('bg.jpg') repeat fixed 0 0 / 2560px 200px;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
}
header {
  color: #fff;
  height: 5.6em;
  padding: 10px 33px;
  >img {
    margin-top: 21px;
    display: inline;
    float: right;
    height: 3.1em;
  }
  >h1 {
    color: #fff;
    font-size: 2.8em;
    font-variant: small-caps;
    font-weight: 100;
    margin: 0.4em 12px 0 0;
    display: inline-block;
  }
}
.github{
  position: absolute; top: 0; right: 0; border: 0;
}

main {
  background-color: $dark;
  border-top: 2px solid $border;
  margin: 0 25px;
}

#infos {
  text-align: center;
  p {
    color: #fff;
    a {color: $border;}
  }
  svg {
    width: 2.6em;
    height: 1.2em;
  }
  span{
    font-size: 1em;
    display: block;
    font-variant: small-caps;
    text-align: center;
  }
  #countdown{
    padding-right: 15px;
    >div {width: 4em;font-size: 1em !important;}
    >div>div{font-size: 3em !important;}
  }
  >div {
    background-color: $light;
    border-color: $border;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px 1px 1px;
    display: inline-block;
    margin: 5px 10px 0;
    text-align: center;
  }
  >div>div {
    border-left: 1px dashed $border;
    padding:7px 12px 0 10px;
    display: inline-block;
    &:first-of-type {border-left: 0;}
    >div {
      display: inline-block;
      text-align: center;
      font-size: 2em;
      div:last-of-type{
        height: 1em;
        font-size: 2em;
        line-height: 1;
      }
    }
  }

}

p {
  font-size: 1.3em;
  font-variant: small-caps;
  margin: 0;
  padding: 5px 7px;
  text-align: center;
}
#previous{
  clear: both;
  padding-top: 14px;
  position: relative;
  h2 {display: inline}
  b {
    color: $border;
    font-style: oblique;
    font-size: 1em;
    margin-left: 8px;
  }
  a {color: $border;}
}

#buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 7px;
  >button {
    font-variant: small-caps;
    color: $dark-text;
    background-color: #fff;
    border-color: $border;
    border-style: solid solid none;
    border-width: 2px 1px 0;
    cursor: pointer;
    padding: 1px 8px;
    &:hover {
      background-color: $border;
    }
  }
}

#flights {
  font-size: 1em;
  align-content: stretch;
  display: flex;
  flex-direction: row;
  min-height: 25em;
  overflow-x: scroll;
  border-top: 2px solid $border;
  padding-top: 5px;
  background-color: $light;
}

.flight {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  min-width: 5.6em;
  .destination {
    align-content: stretch;
    justify-content: center;
    display: flex;
    flex: 1 0 0;
    margin: 5px 0;
    min-height: 5em;
    svg{
      width:5.6em;
      height:2.8em;
    }
  }
  .name, .outcome {
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name{
    padding-top: 10px;
    height: 3.3em;
    margin-bottom: 5px;
  }
  .outcome{
    padding-bottom: 10px;
    height: 4em;
    >span{padding: 2px 4px;}
  }
  .landing>span{
    background-color: #efefef;
    border: 1px solid;
    border-radius: 10px;
    min-width: 4.4em;
  }
}



.failure, .LEO, .Polar, .ISS, .MEO {align-items: flex-end;}
.GTO, .GEO {align-items: center;}
.SUN-EARTH-L1 {align-items: flex-start;}

.rocket {
  padding-top: 5px;
  border-top: 1px dashed $border;
  align-items: flex-end;
  align-content: stretch;
  justify-content: center;
  display: flex;
  flex: 1 0 0;
  svg{
    width: 3.1em
  }
}

.falcon1 {border-bottom: 5px solid #b4b4b4;}
.falcon910 {border-bottom: 5px solid #90cc43;}
.falcon911 {border-bottom: 5px solid #ccaa55;}
.falcon912 {border-bottom: 5px solid #5571cc;}

#labels > span {
  display: block;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 300;
  margin-left: 1.5em;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: left top 0;
  width: .1em;
  color: $border;
}

footer {
  color: #fff;
  text-align: center;
  font-size: .8em;
  font-weight: 100;
  padding: 6px;
  a {color: $border;}
}

@media (max-height: 770px) {
  #labels {display: none;}
  .flight .destination {
    align-items: flex-end;
    align-content: stretch;
    justify-content: center;
    margin-bottom: 5px;
    min-height: inherit;
  }
}

@media (max-width: 850px) {
  header > img, .github {display: none;}
}
@media (max-width: 580px) {
  #previous b {display: block;}
}
@media (max-width: 400px) {
  #infos > div {margin: 0;}
  header {padding: 0 0 0 5px;}
  body{font-size: 12px;}
  #previous>b{display: block}
}
@media (max-width: 1100px) {
  main {margin: 0;}
  header{
    padding: 10px;
    text-align: center;
    overflow: hidden;
    height: 4.5em;
    > img {margin-top: 0;}
    > span {display: none;}
    > h1 {margin: 0;}
  }
}
